<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YuanZzz_Blog</display-name>
  <welcome-file-list>
    <welcome-file>/home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.blog.web.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleBodyServlet</display-name>
    <servlet-name>ArticleBodyServlet</servlet-name>
    <servlet-class>com.blog.web.ArticleBodyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleBodyServlet</servlet-name>
    <url-pattern>/articleBody</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleListServlet</display-name>
    <servlet-name>ArticleListServlet</servlet-name>
    <servlet-class>com.blog.web.ArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleListServlet</servlet-name>
    <url-pattern>/articleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PictureServlet</display-name>
    <servlet-name>PictureServlet</servlet-name>
    <servlet-class>com.blog.web.PictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureServlet</servlet-name>
    <url-pattern>/picture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.blog.web.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.blog.web.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
</web-app>